<div id="master_subjects">
  <h1><%= t ".title"%></h1>
  <div>
    <div class="subject-create col-md-10 col-md-offset-1">
      <%= render "master_subject_form", master_subject: @master_subject %>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="search-form">
        <%= render "search_form", search: @search %>
      </div>
      <div id="subject-main">
        <%= render "master_subjects_table", search: @search,
          master_subjects: @master_subjects %>
      </div>
    </div>
  </div>
</div>
