<div class="modal fade class-subject" role="dialog"
  data-master-course-code="<%= support.master_course.code %>"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="class_subject_form">
        <%= render "form", support: support %>
      </div>
    </div>
  </div>
</div>
