<div class="modal fade" id="class_subject_form" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "/admin/master_class_subjects/form", master_class_subject: master_class_subject,
        master_course: master_course %>
    </div>
  </div>
</div>
