<div class="form-group">
  <%= search_form_for search, remote: true, url: master_courses_path do |f| %>
    <label class="col-sm-2">
      <%= t "search" %>
    </label>
    <div class="col-sm-8">
      <%= f.search_field :name_cont, placeholder: t(".code_or_name"),
        class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <%= f.submit t("buttons.search"), class: "btn btn-info" %>
    </div>
  <% end %>
</div>

