<div class="boxed-group">
  <ul class="boxed-group-list">
    <% if notifications.present? %>
      <%= render notifications %>
    <% else %>
      <li class="nothing">
        <%= render "shared/nothing" %>
      </li>
    <% end %>
  </ul>
</div>
<%= paginate notifications %>
<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    $("li").on("click", function() {
      const url = $("a", this).attr("href");
      if (url) {
        window.location.href = url;
      }
    })
  })
</script>
