<%= link_to notification do %>
  <li class="list-item list-item-expanded collapsed">
    Bạn đã được phân công môn <%= notification.master_class_subject_name %> có mã <%= notification.master_class_subject_code%> vào lúc <%= l notification.master_class_subject_created_at%>
  </li>
<% end %>
