<div class="modal fade user" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="user_form">
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>

