<div class="form-group">
  <%= search_form_for search, remote: true, url: admin_master_courses_path do |f| %>
    <label class="col-sm-1">
      <%= t "search" %>
    </label>
    <div class="col-sm-10">
      <%= f.search_field :code_or_name_cont, placeholder: t(".code_or_name"), class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <%= f.submit t("buttons.search"), class: "btn btn-info" %>
    </div>
  <% end %>
</div>

