<div class="form-group">
  <%= search_form_for search, remote: true, url: admin_master_classes_path do |f| %>
    <div class="col-sm-1">
      <%= f.label :code_or_name_cont, t(".search")%>
    </div>
    <div class="col-sm-10">
      <%= f.search_field :code_or_name_cont, placeholder: t(".code_or_name"),  class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <%= f.submit t("buttons.search"), class: "btn btn-info" %>
    </div>
  <% end %>
</div>

