<div id="master_classes">
  <h1>Admin::MasterClass#index</h1>
  <div>
    <div class="class-create col-md-10 col-md-offset-1">
     <%= render "master_class_form", master_class: @master_class %>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div>
        <%= render "search_form", search: @search %>
      </div>
      <div id="class-main">
        <%= render "master_classes_table", search: @search,
          master_classes: @master_classes %>
      </div>
    </div>
  </div>
</div>
